# TARGET GUIDED ORDINAL ENCODING

In this target guided ordinal encoding, we assign integer values to categories based on the mean of the target variable for each category. This way, categories that are associated with higher target values receive higher integer values, and those associated with lower target values receive lower integer values. This method is particularly useful when there is a meaningful relationship between the categorical feature and the target variable, as it helps to capture this relationship in a way that can be leveraged by machine learning algorithms. --- IGNORE ---

In [1]:
import pandas as pd

In [7]:
city_price_data=pd.DataFrame({
    "CITY":["BANGLORE","HYDERABAD","CHENNAI","DELHI","MUMBAI","KOLKATA","PUNE","BANGLORE","CHENNAI","DELHI"],
    "PRICE":[100,200,300,400,500,600,700,800,900,1000]
})

In [10]:
mean_price=city_price_data.groupby("CITY")["PRICE"].mean().to_dict()

In [11]:
mean_price

{'BANGLORE': 450.0,
 'CHENNAI': 600.0,
 'DELHI': 700.0,
 'HYDERABAD': 200.0,
 'KOLKATA': 600.0,
 'MUMBAI': 500.0,
 'PUNE': 700.0}

In [16]:
city_price_data["CITY_ENCODED"]=city_price_data["CITY"].map(mean_price)

In [20]:
city_price_data[["PRICE","CITY_ENCODED"]]

   PRICE  CITY_ENCODED
0    100         450.0
1    200         200.0
2    300         600.0
3    400         700.0
4    500         500.0
5    600         600.0
6    700         700.0
7    800         450.0
8    900         600.0
9   1000         700.0