Reason behind the data encoding

#if we want to train a model for the classification of categorical data, we need to convert the categorical data into numerical data because most of the machine learning algorithms can work only with numerical data. So, we need to perform data encoding.

NOMINAL OR ONE HOT ENCODING

# One hot encoding also known as nominal encoding is a process of converting categorical data variables so they can be provided to machine learning algorithms to improve predictions.
# In one hot encoding, we convert each category is considerd as a binary vector. Each category is represented as a binary vector with all values as 0 except the index of that category which is marked as 1.

# Disatvantage of One hot encoding
# 1. Curse of Dimensionality
# 2. Sparse Matrix

In [3]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

In [4]:
color_data=pd.DataFrame({
    "color":["red","blue","green","green","red","blue","green","red"]
})

In [8]:
#Create OneHotEncoder Object
encoder=OneHotEncoder()
color_data.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [9]:
encoded_values=encoder.fit_transform(color_data[["color"]]).toarray()

In [10]:
encoded_df=pd.DataFrame(encoded_values,columns=encoder.get_feature_names_out())

In [11]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0
6         0.0          1.0        0.0
7         0.0          0.0        1.0

In [19]:
import seaborn as sns 
df=sns.load_dataset("tips")
data=pd.DataFrame(df)
data.value_counts()

total_bill  tip    sex     smoker  day   time    size
13.00       2.00   Female  Yes     Thur  Lunch   2       2
3.07        1.00   Female  Yes     Sat   Dinner  1       1
22.23       5.00   Male    No      Sun   Dinner  2       1
20.69       2.45   Female  No      Sat   Dinner  4       1
            5.00   Male    No      Sun   Dinner  5       1
                                                        ..
15.53       3.00   Male    Yes     Sat   Dinner  2       1
15.69       1.50   Male    Yes     Sun   Dinner  2       1
            3.00   Male    Yes     Sat   Dinner  3       1
15.77       2.23   Female  No      Sat   Dinner  2       1
50.81       10.00  Male    Yes     Sat   Dinner  3       1
Name: count, Length: 243, dtype: int64